<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 order-md-2">
      <div class="col-md-8">
        <app-cart></app-cart>
      </div>
      <div class="col-md-8">
        <div class="card p-2">
          <button
            class="btn btn-secondary"
            (click)="goToCheckoutPage()"
            [disabled]="cartItems.length === 0"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <app-product-list [products]="products"></app-product-list>
    </div>
  </div>
</div> -->
