<div class="container">
  <h3>Customers</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Profile Image</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customersData">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>
          <img
            src="https://randomuser.me/api/portraits/thumb/{{
              customer.profileImage
            }}"
            alt="{{ customer.firstName }}"
          />
        </td>
        <td>{{ customer.location.coordinates[0] }}</td>
        <td>{{ customer.location.coordinates[1] }}</td>
        <td>
          <button
            class="btn btn-sm btn-primary"
            (click)="navigate(customer._id)"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <div id="mapid" style="height: 180px;"></div>
</div>
