<div class="container">
  <div *ngIf="dataLoaded">
    <h2>Customer Detail</h2>
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://randomuser.me/api/portraits/{{ customer.profileImage }}"
          alt="{{ customer.firstName }}"
        />
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>First Name</td>
              <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ customer.email }}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>{{ customer.phoneNo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    <div>
      <h4 class="my-3">Location</h4>
      <app-map [location]="customer.location"></app-map>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="my-3">Orders</h4>
          <button class="btn btn-sm btn-secondary" (click)="goToNewOrderPage()">
            New
          </button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Orderd Date</th>
              <th scope="col">No. of Items</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let order of orders
                  | paginate: { itemsPerPage: itemsPerPage, currentPage: page }
              "
            >
              <td>{{ order._id }}</td>
              <td>{{ order.createdAt | date: "dd MMM yyyy" }}</td>
              <td>{{ order.products.length }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary"
                  (click)="navigate(customer._id)"
                >
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="orders.length === 0" class="d-flex justify-content-center">
          You don't have any orders available
        </div>
      </div>
    </div>
  </div>
</div>
