<div class="container">
  <h3 class="mb-3">Order details</h3>
  <div *ngIf="order">
    <div>
      <small
        >Order ID: <b>{{ order._id }}</b></small
      >
      <button (click)="deleteOrder()" class="btn btn-sm btn-danger float-right">
        Delete
      </button>
    </div>
    <div>
      <small
        >Date: <b>{{ order.createdAt | date: "dd MMM yyyy" }}</b></small
      >
    </div>
    <hr />
    <div>
      <h3>Customer detail</h3>
      <app-profile-view [customer]="customer"></app-profile-view>
    </div>
    <hr />
    <h5 class="mb-3">Ordered Products</h5>
    <table class="table table-border">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.products; index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <img
              class="prod-img"
              [src]="product.productImage"
              [alt]="product.name"
            />
          </td>
          <td>{{ product.name }}</td>
          <td>NRs. {{ product.price }}</td>
          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteProduct(product._id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div class="mb-5">
      <h3>Order Shipping Detail</h3>
      <form [formGroup]="checkoutForm">
        <div class="mb-3">
          <label for="streetAddress">Street Address</label>
          <input
            type="text"
            class="form-control"
            placeholder="Thadodhunga, Dhobighat"
            formControlName="streetAddress"
          />
          <div
            *ngIf="streetAddress.errors?.required && streetAddress.touched"
            class="invalid-feedback"
          >
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              placeholder="Kathmandu"
              formControlName="city"
            />
            <div
              *ngIf="city.errors?.required && city.touched"
              class="invalid-feedback"
            >
              Please select a valid city.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" formControlName="state">
              <option [ngValue]="null">Choose...</option>
              <option>State 1</option>
              <option>State 2</option>
              <option>State 3</option>
              <option>State 4</option>
              <option>State 5</option>
              <option>State 6</option>
              <option>State 7</option>
            </select>
            <div
              *ngIf="state.errors?.required && state.touched"
              class="invalid-feedback"
            >
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="zipCode"
              placeholder="44700"
            />
            <div
              *ngIf="zipCode.errors?.required && zipCode.touched"
              class="invalid-feedback"
            >
              Zip code required.
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
