<div class="card mb-4 box-shadow">
  <img class="card-img-top" [src]="product.productImage" [alt]="product.name" />
  <div class="card-body">
    <p class="card-text">
      {{ product.name }}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="addToCart($event)"
          *ngIf="!addedToCart(product._id)"
        >
          Add to cart
        </button>
        <button
          *ngIf="addedToCart(product._id)"
          type="button"
          class="btn btn-sm btn-outline-danger"
          (click)="removeFromCart(product._id)"
        >
          Remove
        </button>
      </div>
      <small class="text-muted">NRs. {{ product.price }}</small>
    </div>
  </div>
</div>
