<form [formGroup]="shippingForm">
  <div class="mb-3">
    <label for="streetAddress">Street Address</label>
    <input
      type="text"
      class="form-control"
      placeholder="Thadodhunga, Dhobighat"
      formControlName="streetAddress"
      [(ngModel)]="shippingAddress.streetAddress"
    />
    <div
      *ngIf="streetAddress.errors?.required && streetAddress.touched"
      class="invalid-feedback"
    >
      Please enter your shipping address.
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="city">City</label>
      <input
        type="text"
        class="form-control"
        placeholder="Kathmandu"
        formControlName="city"
        [(ngModel)]="shippingAddress.city"
      />
      <div
        *ngIf="city.errors?.required && city.touched"
        class="invalid-feedback"
      >
        Please select a valid city.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="state">State</label>
      <select
        class="custom-select d-block w-100"
        formControlName="state"
        [(ngModel)]="shippingAddress.state"
      >
        <option [ngValue]="null">Choose...</option>
        <option>State 1</option>
        <option>State 2</option>
        <option>State 3</option>
        <option>State 4</option>
        <option>State 5</option>
        <option>State 6</option>
        <option>State 7</option>
      </select>
      <div
        *ngIf="state.errors?.required && state.touched"
        class="invalid-feedback"
      >
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip Code</label>
      <input
        type="text"
        class="form-control"
        placeholder="44700"
        formControlName="zipCode"
        [(ngModel)]="shippingAddress.zipCode"
      />
      <div
        *ngIf="zipCode.errors?.required && zipCode.touched"
        class="invalid-feedback"
      >
        Zip code required.
      </div>
    </div>
  </div>
  <hr class="mb-4" />
  <button
    class="btn btn-secondary float-right mb-5"
    (click)="submit()"
    [disabled]="disableForm()"
  >
    {{ buttonText }}
  </button>
</form>
